<div class="row gutters justify-content-center pd-24 rounded mr-0">
    <div class="col-xl-12 pd-0">
        <div class="card shadow-lg">
            <div class="card-body text-center" style="background: #202123;">
                <img src="/assets/img/project-stats/restore.svg" class="img-fluid mr-t-61">
                <div class="text-white mr">
                    <h5 class="d-a-text">Workspace Deactivated</h5>
                    <p class="sub-d-a-text">Restore within 7 business days to access or switch to a new workspace. </p>
                    <button type="button" (click)="projectRestore();" class="btn btn-design">
                        Restore
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>