.mr-t-61 {
    margin-top: 61px;
}

.mr {
    margin-top: 43px;
    margin-bottom: 20px;
}

.d-a-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.sub-d-a-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}