<div class="row gutters justify-content-center mt-3 rounded ">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
        <div class="card shadow-lg">
            <div class="card-body ">
                <div class="row gutters">
                    <div class="col-xl-12 col-lglg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="inputName">Credit Card</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Credit Card Number">
                        </div>
                    </div>
                </div>
                <hr>

                <h6 class="billing-sub">Biling Address</h6>
                <div class="row gutters">
                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputName" placeholder="Address Line 1">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Address Line 2">
                        </div>
                    </div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" placeholder="City">
                        </div>
                    </div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Country</option>
                                <option>India</option>
                                <option>USA</option>
                                <option>UK</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-xl-12 col-lglg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" placeholder="ZipCode">
                        </div>
                    </div>
                </div>

                <hr>


            </div>

            <button type="button" class="btn btn-success btn-green-color"
                style="margin:-20px auto 20px auto;">sUpdate</button>

        </div>
    </div>
</div>