<div class="row ml-0">
    <!-- <ng-container *ngFor="let item of data; let i = index;">
        <div class="box" [ngClass]="{'active': selectedIndex == i, 'cursor-pointer' : selectedIndex !== i }">
            <div class="row" (click)="selectType(i)">
                <div class="col-xl-3 p-0">
                    <div class="left">
                        <img src="assets/img/project-stats/{{item.image}}">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="right">
                        <span class="style2">{{item.label}}</span>
                        <h5>{{item.value}}</h5>
                        <h5>{{totalfile.dataPipes.total}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </ng-container> -->

    <ng-container>

        <div class="col pd-16 br-b" *ngFor="let k of selectedKpi"
            [ngClass]="{'a-bg': selectedIndex == k.id, 'cursor-pointer' : selectedIndex !== k.id }"
            (click)="selectType(k.label, k.id)">
            <p class="m1" [ngClass]="{'a-color': selectedIndex == k.id}">{{k.label}}</p>
            <ng-container *ngIf="!loadingData else loader">
                <ng-container *ngIf="k.label =='Dataset'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.sourceDataset?.total}}</p>
                </ng-container>
                <ng-container *ngIf="k.label =='Storage'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.dataVolume?.total}} {{totalfile?.dataVolume?.unit}}</p>
                </ng-container>
                <ng-container *ngIf="k.label =='Data flow'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.dataPipes?.total}}</p>
                </ng-container>
                <ng-container *ngIf="k.label =='Prepared Datasets'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.preparedDataset?.total}}</p>
                </ng-container>
                <ng-container *ngIf="k.label =='Dashboard'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.dashboard?.total}}</p>
                </ng-container>
                <ng-container *ngIf="k.label =='Folder'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.folders?.total}}</p>
                </ng-container>
                <ng-container *ngIf="k.label =='Pipeline'">
                    <p class="m2" [ngClass]="{'a-color': selectedIndex == k.id}">{{totalfile?.pipeline?.total}}</p>
                </ng-container>
            </ng-container>
            
            <ng-template #loader>
                <div class="spinner-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
            
        </div>

        <!-- <div class="col pd-16 br-b" [ngClass]="{'a-bg': selectedIndex == selectedIndexOne, 'cursor-pointer' : selectedIndex !== selectedIndexOne }"
        (click)="selectType(sourceData)">
            <p class="m1" [ngClass]="{'a-color': selectedIndex == selectedIndexOne}">Source Data</p>
            <p class="m2" [ngClass]="{'a-color': selectedIndex == selectedIndexOne}">{{totalfile?.sourceDataset?.total}}</p>
        </div>

        <div class="col pd-16 br-b" [ngClass]="{'a-bg': selectedIndex == selectedIndexTwo, 'cursor-pointer' : selectedIndex !== selectedIndexTwo }"
        (click)="selectType(preparedData)">
            <p class="m1">Prepared Datasets</p>
            <p class="m2">{{totalfile?.preparedDataset?.total}}</p>
        </div>

        <div class="col pd-16 br-b" [ngClass]="{'a-bg': selectedIndex == selectedIndexThree, 'cursor-pointer' : selectedIndex !== selectedIndexThree }"
        (click)="selectType(dataPipes)">
            <p class="m1">Engineering Flows</p>
            <p class="m2">{{totalfile?.dataPipes?.total}}</p>
        </div>

        <div class="col pd-16 br-b" [ngClass]="{'a-bg': selectedIndex == selectedIndexFour, 'cursor-pointer' : selectedIndex !== selectedIndexFour }"
        (click)="selectType(dataVolume)">
            <p class="m1">Storage</p>
            <p class="m2">{{totalfile?.dataVolume?.total}} MB</p>
        </div> -->


        <!-- <div class="box" [ngClass]="{'active': selectedIndex == selectedIndexOne, 'cursor-pointer' : selectedIndex !== selectedIndexOne }">
            <div class="row" (click)="selectType(sourceData)">
                <div class="col-xl-3 p-0">
                    <div class="left">
                        <img id="ani" class="ps-icon" src="assets/img/project-stats/source-folder.svg">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="right">
                        <span class="style2">Source Data</span>
                        <h5>{{totalfile?.sourceDataset?.total}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="box" [ngClass]="{'active': selectedIndex == selectedIndexTwo, 'cursor-pointer' : selectedIndex !== selectedIndexTwo }">
            <div class="row" (click)="selectType(preparedData)">
                <div class="col-xl-3 p-0">
                    <div class="left">
                        <img class="ps-icon" src="assets/img/project-stats/datasets.svg">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="right">
                        <span class="style2">Prepared Datasets</span>
                        <h5>{{totalfile?.preparedDataset?.total}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="box" [ngClass]="{'active': selectedIndex == selectedIndexThree, 'cursor-pointer' : selectedIndex !== selectedIndexThree }">
            <div class="row" (click)="selectType(dataPipes)">
                <div class="col-xl-3 p-0">
                    <div class="left">
                        <img class="ps-icon" src="assets/img/project-stats/data-pipes.svg">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="right">
                        <span class="style2">Engineering Flows</span>
                        <h5>{{totalfile?.dataPipes?.total}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="box" [ngClass]="{'active': selectedIndex == selectedIndexFour, 'cursor-pointer' : selectedIndex !== selectedIndexFour }">
            <div class="row" (click)="selectType(dataVolume)">
                <div class="col-xl-3 p-0">
                    <div class="left">
                        <img class="ps-icon" src="assets/img/project-stats/data-volume.svg">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="right">
                        <span class="style2">Data Volume</span>
                        <h5>{{totalfile?.dataVolume?.total}} <sub>MB</sub></h5>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="box" [ngClass]="{'active': selectedIndex == selectedIndexFive, 'cursor-pointer' : selectedIndex !== selectedIndexFive }">
            <div class="row" (click)="selectType(noOfPii)">
                <div class="col-xl-3 p-0">
                    <div class="left">
                        <img src="assets/img/project-stats/pii.svg">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="right">
                        <span class="style2">NO. of PII</span>
                        <h5>0</h5>
                    </div>
                </div>
            </div>
        </div> -->
    </ng-container>
</div>