.status-center {
    margin: 60px auto 0px auto;
}
.systems-bg {
    width: 100%;
    height: 45px;
    background: #00dfba;
    margin: 30px 0px 10px 0px;
    border-radius: 5px;
}
.h5-status {
    color: #fff;
    margin: 10px 10px;
    font-size: 18px;
}
.h6-status {
    color: #fff;
    margin: 12px 10px;
    font-size: 15px;
    font-weight: 500;
}
.h4-status {
    margin: 40px 0px 15px 0px;
}
.h4-status-h4 {
    margin: 15px 0px 15px 0px;
    font-size: 17px;
}
.box-line-status {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    margin: 0px 0px 10px 0px;
}
.span-green {
    color: #00dfba;
}
.progress-new {
    border-left: 1px solid #fff;
    background: #00dfba;
}
.p-status {
    margin: 15px 0px 15px 0px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
}

.spinner-center {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
