.disabled {
    pointer-events: none;
    opacity: 1;
}

.btn-restore {
    background: #f52842;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    width: 100px;
}

.btn-upgrade {
    background: #00dfba;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100px;
}

.btn-subscribe {
    background: #F52842;
    color:#FFFFFF;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100px;
}

.table .thead-light th {
    background: #F9F9F9 !important;
}

.table td {
    padding: 10px;
}

.td-color {
    background-color: white !important;
    border-bottom: 1px solid #B3B3B3;
}

.expired {
    color: #F52842;
}

.active {
    color: #03A68B;
}

.userlogo {
    border-radius: 50%;
}

.table thead th {
    text-align: start;
}

tr {
    text-align: start;
}