<h6 class="h6-font-hading">
    Split
</h6>

<form [formGroup]="fg">

    <div class="col-12">
        <div class="form-group">
            <label for="selectColumn">Column</label>
            <small class="form-text text-muted pull-right"> Required</small>
            <ng-select id="selectColumn" [(ngModel)]="ruleImpactedCols" formControlName="ruleImpactedCols" [multiple]="false"
                (change)="change($event)" placeholder="Select column" [dropdownPosition]="'bottom'"
                [closeOnSelect]="true" [items]="columns" bindLabel="column_name" bindValue="column_name">
                <ng-template ng-option-tmp let-item="item">
                    <span [title]="item.column_name">{{item.column_name}}</span>
                </ng-template>
            </ng-select>
            <span class="alert-danger"
                *ngIf="fg.get('ruleImpactedCols').touched && fg.get('ruleImpactedCols').hasError('required')">
                This field is required
            </span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="splitOption">Option</label>
            <small id="splitOption" class="form-text text-muted pull-right"> Required
            </small>
            <select class="form-control" id="splitOption" [(ngModel)]="ruleInputLogic1"
                formControlName="ruleInputLogic1">
                <option *ngFor="let op of splitOptions" [value]="op.value">{{op.text}}</option>
            </select>
        </div>
    </div>

    <ng-container *ngIf="ruleInputLogic1 === splitRuleTypes.ByDelimiter">
        <div class="col-12">
            <div class="form-group">
                <label for="splitDelimiter">Delimiter</label>
                <small class="form-text text-muted pull-right"> Required
                </small>
                <input type="text" class="form-control" id="splitDelimiter" required placeholder="Enter Delimiter"
                    [(ngModel)]="ruleInputValues" formControlName="delimiter" (change)="preview()">
                <span class="alert-danger"
                    *ngIf="fg.get('delimiter').touched && fg.get('delimiter').hasError('required')">This field is
                    required</span>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="ruleInputLogic1 === splitRuleTypes.BetweenDelimiter">
        <div class="col-12">
            <div class="form-group">
                <label for="start-delimiter">Staring delimiter</label>
                <small class="form-text text-muted pull-right"> Required </small>
                <input type="text" class="form-control" id="start-delimiter" required placeholder="Enter Delimiter"
                    [(ngModel)]="ruleInputValues" formControlName="delimiter1" (change)="preview()">
                <span class="alert-danger"
                    *ngIf="fg.get('delimiter1').touched && fg.get('delimiter1').hasError('required')">This field is
                    required</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="end-delimiter">Ending delimiter</label>
                <small class="form-text text-muted pull-right"> Required </small>
                <input type="text" class="form-control" id="end-delimiter" required placeholder="Enter Delimiter"
                    [(ngModel)]="ruleInputValues1" formControlName="delimiter2" (change)="preview()">
                <span class="alert-danger"
                    *ngIf="fg.get('delimiter2').touched && fg.get('delimiter2').hasError('required')">This field is
                    required</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="ruleInputLogic1 ===  splitRuleTypes.BetweenTwoPositions">
        <div class="col-12">
            <div class="form-group">
                <label for="start-position">Start Position</label>
                <small class="form-text text-muted pull-right"> Required
                </small>
                <input type="number" appPositiveNumberOnly min="1" class="form-control" id="start-position" required
                    placeholder="Enter start position" [(ngModel)]="ruleInputValues" formControlName="startPosition"
                    (change)="preview()">

                <span class="alert-danger"
                    *ngIf="fg.get('startPosition').touched && fg.get('startPosition').hasError('required')">This field
                    is
                    required</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="end-position">End Position</label>
                <small class="form-text text-muted pull-right"> Required
                </small>
                <input type="number" appPositiveNumberOnly min="1" class="form-control" id="end-position" required
                    placeholder="Enter end position" [(ngModel)]="ruleInputValues1" formControlName="endPosition"
                    (change)="preview()">
                <span class="alert-danger"
                    *ngIf="fg.get('endPosition').touched && fg.get('endPosition').hasError('required')">This field is
                    required</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="ruleInputLogic1 === splitRuleTypes.ByPositions">
        <div formArrayName="positions" class="col-12">
            <div class="form-group">
                <label>Positions</label>
                <small class="form-text text-muted pull-right"> Required
                </small>
                <ng-container *ngFor="let p of positionsControls?.controls; let i=index">
                    <div [formGroupName]="i" class="form-row px-1 row">
                        <input type="number" appPositiveNumberOnly min="1" formControlName="position"
                            placeholder="Enter one position per line" class="form-control col-11"
                            (change)="preview()" />
                        <div class="col-1 d-flex align-items-center">
                            <a (click)="removePosition(i)">
                                <i [class.disable-delete]="positionsControls?.controls.length === 1"
                                    class="fa fa-times-circle text-secondary pull-right"></i>
                            </a>
                        </div>
                    </div>
                    <span class="alert-danger"
                        *ngIf="p.controls.position.touched && p.controls.position.hasError('lessThanOne')">
                        Value should be greater than 0
                    </span>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!validSequence" class="col-12 mb-2">
            <span class="alert-danger">
                Position values should be in ascending order
            </span>
        </div>
        <div class="col-12 mb-2 d-flex justify-content-end">
            <button class="btn btn-success" (click)="addPosition()">Add more</button>
        </div>
    </ng-container>
    <div class="pull-right">
        <button class="btn-save" type="submit" class="btn btn-success mr-3" (click)="saveRule()"
            [disabled]="fg.invalid || !validSequence || submitted">{{ruleButtonLabel}}</button>
        <button class="btn-cancel" type="reset" class="btn btn-secondary mr-3" (click)="cancel()">Cancel</button>
    </div>
</form>