<div class="card card-shadow mr-b-16">
    <div class="card-body cbp-16">
        <ng-template #list>
            <p class="c-t mr-b-0">
                Frequency analysis shows how many times each value in row occurs . Calculate percentage by compared to other values in the row.
            </p>
        </ng-template>
        <p class="p2 mr-b-8">Frequency Analysis <span><img src="/assets/img/data-profile/info.svg" class="cp"  
            [ngbTooltip]="list"  container="body" placement="right" tooltipClass="my-custom-class"></span></p>
        <p class="p1 br">Top 50 frequency statistics is shown in the table.</p>
        <div>
            <ng-container *ngIf="!loading else loader">
                <ng-container *ngIf="frequency.length else noRecords">
                    <div class="table-responsive f-table-height">
                        <table class="table table-fixed">
                            <thead>
                                <tr class="fixed-th">
                                    <th scope="col" class="w-55">Value</th>
                                    <th scope="col">Count <span><img src="/assets/img/data-profile/sort.svg" class="cp" (click)="sort();"></span></th>
                                    <th scope="col">Percentage %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="td-text" *ngFor="let item of frequency">
                                    <td>{{item.text }}</td>
                                    <td class="gride-side-prime" style="font-weight: 700;">{{item.value}}</td>
                                    <td>
                                        <div>
                                            <div>
                                                {{(item.value / totalRecords * 100).toFixed(0)}} %
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <h6 class="no-frequency-h6">No data for Frequency Analysis</h6>
                </ng-template>
            </ng-container>
            <ng-template #loader>
                <div class="spinner-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>