.btn-div{
    margin-top: 45px;
}

.mr-b-13 {
    margin-bottom: 13px;
}

.resize-none {
    resize: none;
}

.page-content {
    padding: 0;
}

input[type=radio]{
    accent-color: #00977C;
}

input[type=radio]:checked{
    accent-color: #00977C;
}