<app-loader [loading]="loading">
    <div class="right-panel" style="width: 500px;" [class.hidden]="!isVisible">
        <div class="p-2">
            <div class="row pull-left">
                <div class="col-xl-12">
                    <button (click)="isVisible = !isVisible" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h6>Raw Data</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <ng-select id="folderId" [(ngModel)]="folderId" [multiple]="false" placeholder="Select Folder"
                        [dropdownPosition]="'bottom'" [closeOnSelect]="true" (change)="onFolderSelect()"
                        [items]="folders" bindLabel="folderDisplayName" bindValue="folderId">
                        <ng-template ng-option-tmp let-item="item">
                            <span [title]="item.folderDisplayName">{{item.folderDisplayName}}</span>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Select File</th>
                                <th>File Name </th>
                                <th>Created Date </th>
                                <th>Created By </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="td-color" *ngFor="let file of files">
                                <td><input class="form-check-input position-static" type="radio" name="blankRadio"
                                        id="blankRadio1" value="option1" style="cursor: pointer;" aria-label="..."
                                        (click)="setFolderFile(file.fileName, file.fileId)">
                                </td>
                                <td class="text-truncate d-block" style="width: 150px;" placement="auto"
                                    ngbTooltip="{{file.fileName}}">{{file.fileName}}</td>
                                <td>{{file.createdDate | date: 'dd-MM-yy, hh:mm a'}}</td>
                                <td>{{file.ruleCreatedFrom}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <button type="button" class="btn btn-primary pull-right" [disabled]="selectedFileId == undefined"
                        (click)="cleansing()">Cleanse Data</button>
                </div>
            </div>
        </div>
    </div>
</app-loader>