<div class="row gutters justify-content-center mt-3 rounded ">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
        <div class="card shadow-lg border-0">
            <div class="card-body ">
                <div class="row gutters">

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <span class="subscription-span pull-left"><strong>Monthly Plan</strong> </span>

                    </div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <span class="subscription-span pull-right">Renews on 20 November 2020</span>
                    </div>

                    <div class="line-bg"></div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <span class="subscription-span pull-left">7 Team Account <br>
                            Unlimited Page Visits </span>
                        <p><a href="#" class=" sub-add ">Add Team Account</a></p>
                    </div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <span class="subscription-span pull-right">20 GB of Storage<br>
                            5 Project Versions</span>
                    </div>

                    <div class="line-bg"></div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <span class="subscription-span pull-left">Subtotal <br>
                            VAT @ 20%</span>

                    </div>

                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
                        <span class="subscription-span pull-right">$50.00<br>
                            $10.00</span>
                    </div>

                </div>

                <hr>


            </div>

            <button type="button" class="btn btn-success text-uppercase" [routerLink]="['../change-plan']" style="margin:-20px auto 20px auto;">Change
                Plan</button>

        </div>
    </div>
</div>