<div class="row gutters">
    <div style="margin:-40px auto;">
        <h4>Change your plan</h4>

        <label class="switch" style="margin:10px 20px 55px 45px;">
            <div class="pull-left col-3 " style="margin:6px -75px; font-size:13px;">Monthly</div>
            <input type="checkbox">
            <span class="slider round"></span>
            <div class="pull-left col-3 " style="margin:-11px 55px; font-size:13px;">Annual</div>
        </label>
    </div>
</div>


<div class="row gutters col-12 ml-1">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="pricing-plan">
            <div class="pricing-header">
                <h4 class="h4-sub-heading">Starter</h4>
                <i><img src="assets/images/plans/starter.svg" width="70"> </i>
                <div class="pricing-cost">$129.00</div>
                <div class="pricing-span">per project, per month</div>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px; background:#212245; margin-right: 6px;">Buy</button>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px;">TRY</button>
            </div>
            <ul class="pricing-features">
                <li>1 Team Accounts<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>50 MB Storage<br></li>
                <li>10,000 Page Visits / Month</li>
            </ul>

        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="pricing-plan">
            <div class="pricing-header red">
                <h4 class="h4-sub-heading">Basic</h4>
                <i><img src="assets/images/plans/basic.svg" width="70"> </i>
                <div class="pricing-cost">$229.00</div>
                <div class="pricing-span">per project, per month</div>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px; background:#212245; margin-right: 6px;">Buy</button>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px;">TRY</button>
            </div>
            <ul class="pricing-features">
                <li>2 Team Accounts<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>5 GB Storage<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>10,000 Page Visits / Month<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>

            </ul>

        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="pricing-plan">
            <div class="pricing-header secondary">
                <h4 class="h4-sub-heading">Enterprise </h4>
                <i><img src="assets/images/plans/enterprise.svg" width="70"> </i>
                <div class="pricing-cost">$329.00</div>
                <div class="pricing-span">per project, per month</div>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px; background:#212245; margin-right: 6px;">Buy</button>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px;">TRY</button>
            </div>
            <ul class="pricing-features">
                <li>2 Team Accounts<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>5 GB Storage<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>10,000 Page Visits / Month<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>

            </ul>

        </div>
    </div>


    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="pricing-plan">
            <div class="pricing-header secondary">
                <h4 class="h4-sub-heading">Enterprise Plus</h4>
                <i><img src="assets/images/plans/enterprise-plus.svg" width="70"> </i>
                <div class="pricing-cost">$329.00</div>
                <div class="pricing-span">per project, per month</div>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px; background:#212245; margin-right: 6px;">Buy</button>
                <button type="button" class="btn btn-success"
                    style="margin:5px auto 10px auto; font-size:15px;">TRY</button>
            </div>
            <ul class="pricing-features">
                <li>2 Team Accounts<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>5 GB Storage<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>
                <li>10,000 Page Visits / Month<br>
                    <span class="pricing-span">(extra: $5/mo per account) </span>
                </li>

            </ul>

        </div>
    </div>

    <button type="button" class="btn btn-success" style="margin:5px auto; font-size:17px;">Show Details</button>


</div>