<div class="row gutters justify-content-center mt-3 rounded ">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
        <div class="card shadow-lg">
            <div class="card-body ">
                <div class="row gutters">
                    <div class="col-12 text-center">
                        <div cclass="text-center">
                            <i><img src="assets/images/payment-failed.png" width="87" height="87"></i>
                            <h5 style="color:#FF9292; margin:10px 0px 10px 0px;">Payment Failed </h5>
                            <strong>Your transaction couldn't be processed</strong>
                        </div>
                        <!-- <button type="button" class="btn-pink-color active btn btn-green-color mt-3" >Try Again</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>