<div style="background: #F5F7FA;  background-size:100%; height: 100%;">
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="login-content-div">
                        <p class="p-logo">
                            <img src="assets/img/full-logo.svg" width="250">
                        </p>

                        <div class="p-3 form-div">
                            <form [formGroup]="fg" (submit)="resetPassword()">
                                <p class="fg-text">Change Password</p>
                                <div class="input-group mb-3">
                                    <input [type]="fieldPassType ? 'text' : 'password'" class="form-control f-input l-border" placeholder="New Password"
                                        formControlName="password" maxlength="20">
                                    <div class="input-group-append">
                                        <span class="input-group-text eye-icon" id="basic-addon2" (click)="togglePass()">
                                            <img src="assets/img/open-eye.svg" alt=""  [hidden]="showPass">
                                            <img src="assets/img/close-eye.svg" alt="" [hidden]="!showPass">
                                        </span>
                                    </div>
                                </div>
                                <div class="error"
                                        *ngIf="fg.get('password').hasError('required') && fg.get('password').touched">
                                        Password is required
                                    </div>
    
                                    <div class="error"
                                        *ngIf="fg.get('password').hasError('min') && fg.get('password').touched">
                                        Password should be 8 characters in length
                                    </div>
                                <div class="input-group mb-3">
                                    <input [type]="fieldConfirmPassType ? 'text' : 'password'" class="form-control f-input l-border" placeholder="Confirm Password"
                                        formControlName="confirmPassword" maxlength="20">
                                    <div class="input-group-append">
                                        <span class="input-group-text eye-icon" id="basic-addon2" (click)="toggleConfirmPass()">
                                            <img src="assets/img/open-eye.svg" alt=""  [hidden]="showConfirmPass">
                                            <img src="assets/img/close-eye.svg" alt="" [hidden]="!showConfirmPass">
                                        </span>
                                    </div>
                                </div>
                                <div class="error"
                                        *ngIf="fg.get('confirmPassword').hasError('mustMatch') && fg.get('confirmPassword').touched">
                                        Password does not match
                                </div>
    
                                <div class="actions ">
                                    <button [disabled]="fg.invalid" [ngClass]="{'validBtn': !fg.invalid}" type="submit" class="btn btn-outline-success btn-f"
                                    >Update</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>