.login-content-div {
    position: relative;
    border: 0;
    margin: 80px auto;
    // height: 400px;
    max-width: 405px;
    color: #000000;
}

.form-div {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 3rem !important;
    padding-top: 2rem !important;
    margin-top: 8vh;
}

.f-form-div {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 2rem !important;
    padding-top: 3rem !important;
    margin-top: 8vh;
}

.p-logo {
    text-align: center;
}


.f-input {
    background: #FCFCFE;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 156.02%;
    /* identical to box height, or 19px */

    // text-align: center;
    letter-spacing: 0.035em;
}

.btn-f {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 156.02%;
    /* identical to box height, or 25px */

    text-align: center;
    letter-spacing: 0.035em;

    // color: #01B798;
}

.fg-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 156.02%;
    /* or 37px */
    
    text-align: center;
    letter-spacing: -0.005em;
    
    color: #212244;
    padding-top: 10px;
    padding-bottom: 15px;
}

.error {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 156.02%;
    letter-spacing: -0.03em;
    color: #FF7B7B;
    margin-top: -10px;
    padding-bottom: 10px;
}

.validBtn {
    background-color: #01B798;
    color: white;
}

.l-border {
    border-right: none;
}

.eye-icon {
    background: #FCFCFE;
}
