table,
th,
td {
    font-size: 12px;

    th {
        line-height: 1px;
        color: #505458;
        background-color: #f6f6f6 !important;
    }
}

.contents {
    height: 67vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}