<div class="main-div">
    <!-- Navbar -->
    <div class="container">
        <nav class="navbar header">
            <a class="navbar-brand">
                <img src="../../../assets/img/gtm/qslogo.svg" class="d-inline-block align-top" alt="">
            </a>
            <div>
                <button type="button" class="btn btn-link signup-btn">Sign Up</button>
                <button type="button" class="btn demo-btn">Request For Demo</button>
            </div>
            
        </nav>

        <!-- <nav class="navbar navbar-expand-lg navbar-light header">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/qslogo.svg" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div>
                    <button type="button" class="btn btn-link signup-btn">Sign Up</button>
                    <button type="button" class="btn demo-btn">Request For Demo</button>
                </div>
            </div>
          </nav> -->
    </div>
    
    <div class="container">
        <div class="content row">
            <div class="col-md-6">
                <p class="training-text">Live Free Training</p>
                <p class="cloud-text">Cloud Migration <br/> into AWS <small>under 5 mins</small></p>
            </div>
            
        </div>
    </div>
    

    <div class="content-text">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-1">“Gone are the days where migrating to cloud took 6 months with 6 Engineers working full-time.”</p>
                    <p class="text-2">Leverage the no-code DataOps platform to migrate to cloud and let your Engineers to focus on revenue generating top-line activities, not bottom-line activities.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-div">
        <p class="block-text">Block Your Seat Now!</p>
        <form class="re-form">
            <div class="form-group">
              <input type="text" class="form-control f-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name*">
            </div>
            <div class="form-group">
                <input type="text" class="form-control f-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name*">
            </div>
            <div class="form-group">
                <input type="email" class="form-control f-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Work Email*">
            </div>
            <div class="form-group">
                <input type="text" class="form-control f-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Company Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control f-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Job Title">
            </div>
            <div class="form-group">
                <input type="number" class="form-control f-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone/Mobile*">
            </div>
            <div class="form-check f-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I’d like to receive emails about events, news & important updates from Quantumics.</label>
            </div>

            <div class="form-check f-check f-check-two">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">You consent to Quantumics processing your personal data in accordance with our Privacy Policy and Terms of Service</label>
            </div>
            <button type="submit" class="btn btn-success r-btn">Register Now</button>
          </form>
    </div>

    <div class="container get-div">
        <p class="get-text">What will you get?</p>
        <div class="row imgs-list">
            <div class="col-md-2">
                <img src="../../../assets/img/gtm/training.svg" class="imgs" alt="Trulli" >
                <p >Live Training</p>
            </div>
            <div class="col-md-2">
                <img src="../../../assets/img/gtm/free.svg" class="imgs" alt="Trulli">
                <p>Free Access to Quantumics</p>
            </div>
            <div class="col-md-2">
                <img src="../../../assets/img/gtm/certificate.svg" class="imgs" alt="Trulli">
                <p>Certification</p>
            </div>
        </div>

        <div class="row t-div">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                      <div class="row card-row">
                          <div class="col-md-2 train-div">
                              <p>Trainer</p>
                              <img src="../../../assets/img/gtm/shen.svg" class="imgs" alt="Trulli">
                          </div>
                          <div class="col-md-3 ceo-text">
                              <p class="ceo-text-1">Shen  Pandi</p>
                              <p>CEO, Quantumics.AI <img src="../../../assets/img/gtm/in.svg" alt="Trulli"></p>
                          </div>
                          <div class="col-md-7 justify-content">
                              <p class="content-1">• Worked at McKinsey & Company, Deloitte and Ernst and Young, advising clients (CxOs and senior management) on digital, data and analytics strategy.</p>
                              <p>• Experience in diverse industries such as financial services, energy, telecom, media, pharmaceutical, public sector, logistics covering 10 countries across North America, Europe, & Turkey regions.</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="container footer">
        <p class="fp-1">
            <span>
                <img src="../../../assets/img/gtm/f-logo.svg" alt="">
            </span>
            <span class="ln-tweet">
                <img src="../../../assets/img/gtm/f-in.svg" alt="">&nbsp;&nbsp;
                <img src="../../../assets/img/gtm/f-twitter.svg" alt="">
            </span>
        </p>
        <p class="fp-2">
            © Copyright 2021 - Quantumics• All rights reserved.
        </p>
    </div>
    
</div>