<div class="row">
    <div class="col-xl-12">
        <div class="custom-search pull-right">
            <input type="text" id="searchTerm" [(ngModel)]="searchTerm.engFlowName" class="search-query absolute"
                placeholder="Search...">
        </div>
    </div>
</div>


<app-loader [loading]="loading">
    <div class="row gutters">
        <div class="col-xl-12">
            <div class="table-responsive table-height">
                <table class="table m-0 table-fixed">
                    <thead class="thead-light">
                        <tr class="fixed-th">
                            <th>Engineering Flow Name </th>
                            <th>Created By </th>
                            <th>Created Date </th>
                            <th>Select Files to Run</th>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="engineeringJobs$ | async as engineeringJobs">
                            <ng-container *ngIf="engineeringJobs?.length > 0; else noRecords">
                                <tr class="td-color" *ngFor="let job of engineeringJobs | filterBy:searchTerm">
                                    <td class="text-left">{{job.engFlowDisplayName}}</td>
                                    <td>{{job.createdBy}}</td>
                                    <td>{{job.createdDate | date: 'dd-MM-yy, hh:mm a'}}</td>
                                    <td>
                                        <a id="lnkSelectEngFile" (click)="selectFiles(job)">
                                            <em>
                                                <img src="assets/img/file-icon.png" width="30" placement="top" alt=""
                                                    ngbTooltip="File">
                                            </em>
                                        </a>
                                    </td>

                                    <td>
                                        <a id="lnkEngJobHistory" (click)="openModal(job)">
                                            <em>
                                                <img src="assets/img/history-icon.svg" width="20" placement="top"
                                                    alt="history" ngbTooltip="History">
                                            </em>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noRecords>
                                <h6>No result found</h6>
                            </ng-template>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-loader>