::ng-deep .text {
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 150px !important;
    white-space: nowrap;
    display: inline-block;
    padding-left: 10px;
}

.margin-cus {
    margin: -8px 10px 5px 0px;
    border-bottom: 1px solid #dddddd;
    line-height: 15px;
    z-index: 9999;
}

.table-height {
    height: calc(100vh - 220px);
}

.auto-select-file {
    width: 100%;
    height: 25px;
    background: #effffc;
    text-align: right;
    font-size: 13px;
    padding: 2px 5px;
    color: #00deba;
}

.search-auto {
    width: 140px;
    height: 25px;
    margin: 0px 30px;
    padding: 0px 5px;
    font-size: 13px;
    border: 1px solid #e8ebf4;
    border-radius: 30px;
}


