canvas {
    width: 100% !important;
    height: 80% !important;
}

.chart-div {
    margin-top: 4vh !important;
}

.chart-box {
    padding: 10px;
    // height: 300px;
    // height: 444px;
    height: 52vh;
    background: #ffffff;
    border: 1px solid #a6a7b4;
    box-sizing: border-box;
    border-radius: 4px;
}

// Canvas -- margin-top: 3%; p ==== position: absolute; top: 54%; left: 40%;


// new parameters added 
.creation-div {
    display: flex;
    margin-top: 25px;
}

.ct1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #3A476C;
}

.ct2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    /* Blue */
    
    color: #212244;
}

.mr-r-50 {
    margin-right: 50px;
}