<ng-container *ngIf="subscription?.subscriptionType === 'Trial'">
    <div class="alert alert-warning mb-0" role="alert" [class.hide]="close">
        <div class="row">
            <div class="col-xl-5">
                Your trial expires in {{subscription?.validDays}} days
                <span>
                    <button class="btn btn-sm btn-primary btn-trail">Choose your plan</button>
                </span>
            </div>
            <div class="col-xl-3">
                <div style="position: absolute;top: -8px;">
                    <circle-progress [percent]="subscription?.explored" [animation]="true">
                    </circle-progress>
                </div>
                <div style="margin-left: 50px;">
                    <button class="btn btn-sm btn-trail">Features explored</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="pull-right">
                    <button class="btn btn-sm btn-trail mr-2">Tutorials</button>
                    <button class="btn btn-sm btn-trail mr-2">Chat with us</button>
                    <button class="btn btn-sm btn-trail mr-3">Book a Demo</button>
                    <button type="button" class="close" (click)="close = true" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>