<div class="modal-header border-bottom-0 pd-b-0">
    <h5 class="modal-title modal-header-text">Confirmation</h5>
    <!-- <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<div class="modal-body pd-b-0">
    <p class="body-text-muted">
        You are going to delete the entire folder. All the dataset inside the folder will be lost and cannot be retrieved back.
    </p>
</div>
<div class="modal-footer justify-content-start">
    <button type="button" class="btn deactivate-btn" (click)="deleteFolder();">Delete</button>
    <button type="button" class="btn up-btn" (click)="modal.dismiss('cancel')">Cancel</button>
</div>