<div class="row">
    <div class="col-xl-6">
        <div class="box box1">
            <div class="row row-efforts">
                <div class="col-xl-8">
                    <p class="style1 font-30">Manual DataOps Effort</p>
                </div>
                <div class="col-xl-4 text-right">
                    <p class="style1 font-30">{{efforts?.manual}} <sub>hr</sub></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="box box2">
            <div class="row row-efforts">
                <div class="col-xl-8">
                    <div class="style1 font-30 text-white">
                        Quantumics DataOps Effort
                    </div>
                </div>
                <div class="col-xl-4 text-right">
                    <div class="style1 font-30 text-white">
                        {{efforts?.qsai}} <sub>hr</sub>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>