.box {
    border-radius: 4px;
    height: 80px;
    padding: 27px 30px;
}

.box1 {
    background: linear-gradient(90deg, #ff7e7d 2.03%, rgba(255, 161, 160, 0.55) 99.04%);
    // height: 148px;
    height: 15vh;
}

.box2 {
    background: linear-gradient(90deg, #121542 -1.44%, #888ab4 98.92%);
    // height: 148px;
    height: 15vh;
}

sub {
    font-size: 12px;
}

.row-efforts {
    padding-top: 3%;
}

.font-30 {
    font-size: 24px;
}