.pgsql-content {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1E1F3E;
}

// .modal-header {
//     border: none;
//     padding-top: 30px;
//     padding-bottom: 0;
// }


.pipeLable {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 188% */

    // text-align: center;
    letter-spacing: -0.02em;

    /* BLUE/(600) */

    color: #1E1F3E;
}

.pipeline-input-connection-div {
    margin: 4vh auto;
    max-width: 710px;
}

.pipeInput {
    background: #FCFCFE;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.02%;
    /* identical to box height, or 25px */

    // text-align: center;
    letter-spacing: 0.035em;

    // color: #999999;
}

.checkDiv {
    // font-family: 'Inter';
    // font-style: normal;
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 19px;
    // /* text-align: center; */
    // letter-spacing: -0.02em;
    // color: #00705D;
    display: inline-block;
}

.btns {
    float: right;
}

.connectionBtns {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px; */
    line-height: 22px;
    letter-spacing: -0.015em;
    background-color: #01B798;
    color: white;
}

.marginTop {
    margin-top: 10px;
}

.validBtn {
    background-color: #01B798;
    color: white;
}

::placeholder {
    color: #999999;
    opacity: 1; /* Firefox */
}

.modal-height {
    height: auto;
    // padding-bottom: 40px;
}

.container {
    padding-left: 60px;
    padding-right: 60px;
}

// added
.ht1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212244;
}
  
.ht2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #212244;
}
  
.mr-b-7 {
    margin-bottom: 7px;
}

.content-div {
    padding: 16px;
    border-bottom: 1px solid #EAECF0;
}

.content-2 {
    padding: 16px;
}

.check-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    /* GREEN/800 */
    
    color: #00705D;
}