.custom-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 38%;
    max-width: 29%;
    margin: 15px 0px 0px 0px;
}
.up-arrow {
    font-size: 15px;
    color: #12d582;
}
.down-arrow {
    font-size: 15px;
    color: #f16666;
}

.odd-color {
    background-color: #c1e4ff;
}
.even-color {
    background-color: #87cbff;
}

.bg-latest-file- {
    background: #eaf7f2;
}
