<app-loader [loading]="loading">
    <div class="main-container bg-color">

        <!-- <div class="page-header1">
            <ol class="breadcrumb breadcrumb-top">
                <li class="breadcrumb-item"><a [routerLink]="['/projects', projectId, 'stats']">{{projectName}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Datasets</li>
            </ol>
        </div> -->

        <div class="main-menu">
            <!-- <ul>
                <li>
                    <a [routerLink]="['folders']" routerLinkActive="is-active" class="disabled-tab">
                        <img class="active-folder" src="assets/img/folder-fill.svg" width="28" alt="add">
                        &nbsp;Folder
                    </a>
                </li>
                <li>
                    <a [routerLink]="['pipelines']" routerLinkActive="is-active" class="disabled-tab">
                        <img class="active-pipe" src="assets/img/pipeline-fill.svg" width="28" alt="add">
                        &nbsp;Pipeline
                    </a>
                </li>
            </ul> -->

            <!-- <div> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
        </div>
        <!-- <div class="page-content">
            <ng-container *ngIf="!loading && folders?.length > 0 else empty">
                <app-list-folders [folders]="folders" (edit)="edit($event)" (delete)="delete($event)">
                </app-list-folders>
                <app-edit-folder *ngIf="editFolder" [projectId]="projectId" [userId]="userId" [folder]="folder"
                    (updatedFolder)="updatedFolder($event)" (close)="editFolder=false">
                </app-edit-folder>
            </ng-container>
            <ng-template #empty>
                <div *ngIf="!loading" class="row gutters justify-content-center mt-6 rounded m-0">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="card shadow-lg">
                            <div class="card-body plus-add">
                                <a [routerLink]="['/projects', projectId, 'ingest', 'select-source-type']">
                                    <img src="assets/img/cleansing-add.svg" width="55" alt="add" class="mb-3"></a>
                                <p class="plus-add-text">
                                    You do not have any Folders. <br>
                                    Why don't you create one by clicking "Plus" button.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div> -->
    </div>
</app-loader>