canvas {
    width: 100% !important;
    height: 80% !important;
}

.chart-div {
    margin-top: 4vh !important;
}

.chart-box {
    padding: 10px;
    // height: 300px;
    // height: 444px;
    height: 52vh;
    background: #ffffff;
    border: 1px solid #a6a7b4;
    box-sizing: border-box;
    border-radius: 4px;
}

// Canvas -- margin-top: 3%; p ==== position: absolute; top: 54%; left: 40%;