<ng-container *ngIf="mbarChartLabels.length else noRecords">
    <div class="row mt-3 chart-div">
        <div class="col-xl-12">
            <div class="chart-box">
                <p class="style1 font-20 mb-0"><strong>OverView</strong></p>
                <p class="style1 font-16">{{type}}</p>
                <canvas baseChart [datasets]="barChartData" [labels]="mbarChartLabels" [options]="barChartOptions"
                    [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noRecords>
    
    <div class="chart-box chart-div">
       <p><strong> No Chart Record Available </strong></p>
        <canvas baseChart [datasets]="blankBarChartData" [labels]="blankBarChartLabels" [options]="blankBarChartOptions"
        [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
    
</ng-template>