.rule-border-success {
    background: #00eac3 !important;
}

.rule-bg-success {
    background: #00cba9 !important;
}

.rule-border-error {
    background: #ec879e !important;
}

.rule-bg-error {
    background: #f7c5d0 !important;
}
