<div class="row gutters col-12">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table m-0">
                        <thead>
                            <tr class="th-center">
                                <th>Invoice ID</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="td-color">
                                <td class="gride-side">Quantumics001</td>
                                <td>Paid</td>
                                <td>01 Nov 2020</td>
                                <td>$ 200</td>
                                <td>
                                    <i><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Download"><img src="img/download.svg"
                                                width="16"></a></i>&nbsp; &nbsp;
                                    <i><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Printer"><img src="img/printer.svg" width="16"></a></i>
                                </td>
                            </tr>

                            <tr class="td-color">
                                <td class="gride-side">Quantumics002</td>
                                <td>Paid</td>
                                <td>01 Nov 2020</td>
                                <td>$ 200</td>
                                <td>
                                    <i><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Download"><img src="img/download.svg"
                                                width="16"></a></i>&nbsp; &nbsp;
                                    <i><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Printer"><img src="img/printer.svg" width="16"></a></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>