::ng-deep {
    .regular-expression {
        background: #fffff1;
    }
    .regular-expression .arrow::after {
        border-top-color: #fffff1;
    }
    .popover {
        max-width: 500px;
    }

    .link-primary {
        text-decoration: underline;
        color: #00DFBA;
    }
}